*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'DM Sans', sans-serif;
}


/* SECTION START */
section{
    margin: 15px;
}
.section_block p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px;
    display: none;
}
h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.container{
    max-width: 1360px;
    padding:15px;
    margin: 0 auto;
    background: #f1f1f1;
    border-radius: 20px;
    border: 2px solid black;
}
.section_block h3{
    padding: 15px;
    background-size: 20px;
}
.section_block h3:after{
    content:"";
    background: url(../images/icons/down-arrow-svgrepo-com.svg) no-repeat right;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    transition: all 0.5s;
}
.section_block{
    margin-top: 20px;
    box-shadow: 0 0 15px #000000;
    position: relative;
    border-radius: 12px;
}
h3{
    cursor: pointer;
}

p.active{
    display: block;
}    
.section_block.active h3:after{
    transform: rotate(180deg);
}


/* SECTION END'S */